<%- include('partials/header') %>
<%- include('partials/nav') %>


<h1>Add Tyd</h1>
<form action="/tyd" method="POST">
    <textarea name="tyd"  cols="30" rows="10" placeholder="Write your tyd here....."></textarea>
    <input type="submit" value="submit">
</form>


<%- include('partials/footer') %>